.DS_Store


# Variants folder
variants/*
!variants/README.md

# All files generated during experiments
*_summary.txt
grid_search_results.csv

*.log
*.joblib
*.pickle
*.pkl
*.out
*.err
.nfs*

# Old folders
*_old/

# Files too large to be stored in Git
surrogate-model-backend.tar

# Large checkpoint files
*.pt
environment/programEmbeddingConfig/*
!environment/programEmbeddingConfig/README.md
.history/
temp_results/