.DS_Store


# Variants folder
variants/*
!variants/README.md

# Files too large to be stored in Git
surrogate-model-backend.tar

# All files generated during experiments
training_summary.txt
grid_search_results.csv


*.joblib
*.pickle
*.out
*.err
.nfs*

# Large checkpoint files
*.pt
environment/programEmbeddingConfig/*
!environment/programEmbeddingConfig/README.md