.DS_Store


# Variants folder
variants/*
!variants/README.md

# All files generated during experiments
*.joblib
*.pickle
nohup.out

# Large checkpoint files
*.pt
environment/programEmbeddingConfig/*
!environment/programEmbeddingConfig/README.md